@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700);


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0C0A3E;
}

code {
  font-family: 'Montserrat', sans-serif;
}
